__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.venv/
venv/
.env
.ipynb_checkpoints/
.pytest_cache/
*.png
*.jpeg
*.pdf
*.npy
*.gz
*.json
*.csv
*.npz
*.txt
*.err
*.outtutorials/examples/boed/results_sweep/*.npz
